<div id="commitBox" class="repoContent">
	<div>{{#if prevCommit}}<a href="../{{prevCommit}}/">&lt;&lt; Prev Commit</a>{{/if}}</div>
	<div>
		<div>{{commitId}} {{dateTime date}}</div>
		<div>{{message}}</div>
	</div>
	<div>{{#if nextCommit}}<a href="../{{nextCommit}}/">&gt;&gt; Next Commit</a>{{/if}}</div>
</div>