<div id="pagesSection" class="pageContent container">
	{{#if editable}}
		<div>
			<button id="publishBtn" class="btn btn-default" type="button">Publish...</button>
			<div id="publishCtrls">
				<label><input type="checkbox" id="selectAllChk" checked>Select All</input></label>
				<label><input type="checkbox" id="repoChk" checked>Include Repo Content</input></label>
				<button id="saveBtn" type="button" class="btn btn-primary">Save</button>
				<button id="cancelPublishBtn" type="button" class="btn btn-link">Cancel</button>
			</div>
			<div id="publishSuccessAlert" class="alert alert-success publishAlert" role="alert">Files were successfully published to the .gitGallery/export :)</div>
			<div id="publishFailAlert" class="alert alert-warning publishAlert" role="alert">Something went wrong and the publish failed :(</div>
			<div id="publishNonSelectedAlert" class="alert alert-info publishAlert" role="alert">You need to select some pages to publish first.</div>
		</div>
	{{/if}}

	<h1 class="editable" data-name="title" data-title="Gallery Title" data-type="text" data-pk="_" data-url="editgallery">{{#if title}}{{ title }}{{else}}Git Gallery{{/if}}</h1>

	{{#each pages}}
		<a href="{{commitId}}/index.html">
			<div class="galleryItem">
				{{#if images.length}}<img src="{{#if ../editable}}{{commitId}}/thumbnail?thumb=200x200{{else}}{{commitId}}/thumb_{{images.0.src}}{{/if}}" class="galleryThumb"/>{{/if}}
				<div class="pageDesc">
					{{#if title}}<div class="giTitle">{{title}}</div>{{/if}}
					<!-- <div class="giMessage">{{message}}</div> -->
					<div class="giDate">{{#if date}}{{date date}} {{time date}}{{/if}}</div>
				</div>
				{{#if ../editable}}
					<input type="checkbox" class="publishChk" value="{{commitId}}" checked></input>
				{{/if}}
			</div>
		</a>
	{{/each}}
</div>

{{#if editable}}
	<script>
		$('#publishCtrls').hide();
		$('.publishChk').hide();
		$('.publishAlert').hide();

		$('#publishBtn').click(() => {
			$('#publishBtn').toggleClass('active');
			$('#publishCtrls').toggle();
			$('.publishChk').toggle();
			$('.publishAlert').hide();
		});
		$('#cancelPublishBtn').click(() => {
			$('#publishBtn').removeClass('active');
			$('#publishCtrls').hide();
			$('.publishChk').hide();
			$('.publishAlert').hide();
		});

		$('#selectAllChk').change(function() {
			let sel = $(this).is(':checked');
			$('.publishChk').prop('checked', sel);
		});

		$('#saveBtn').click(() => {
			$('.publishAlert').hide();
			let exports = [];
			$('.publishChk:checked').each((index, item) => {
				exports.push($(item).val());
			});
			if (exports.length === 0) {
				$('#publishNonSelectedAlert').show();
			} else {
				let xhr = $.post('/publish', { 'ids': exports.join(','), 'exportRepo': $('#repoChk').is(':checked') })
					.done(() => {
						$('#publishSuccessAlert').show();
					})
					.fail(() => {
						$('#publishFailAlert').show();
					});
			}
		});
	</script>
{{/if}}