<div id="pagesSection" class="pageContent container">
	<h1 class="editable" data-name="title" data-title="Gallery Title" data-type="text" data-pk="_" data-url="editgallery">{{#if title}}{{ title }}{{else}}Git Gallery{{/if}}</h1>

	{{#each pages}}
		<a href="{{commitId}}/">
			<div class="galleryItem">
				{{#if images.length}}<img src="{{commitId}}/thumbnail?thumb=200x200" class="galleryThumb"/>{{/if}}
				<div class="pageDesc">
					{{#if title}}<div class="giTitle">{{title}}</div>{{/if}}
					<!-- <div class="giMessage">{{message}}</div> -->
					<div class="giDate">{{#if date}}{{date date}} {{time date}}{{/if}}</div>
				</div>
			</div>
		</a>
	{{/each}}
</div>