<div class="pageContent container">
	{{#if page}}
		<div id="pageNav">
			<div>{{#if page.prevPage}}<a href="../{{page.prevPage}}/index.html">&lt;&lt; Prev Page</a>{{/if}}</div>
			<div><h4><a href="../index.html">{{#if galleryData.title}}{{ galleryData.title }}{{else}}Gallery{{/if}}</a></h4></div>
			<div>{{#if page.nextPage}}<a href="../{{page.nextPage}}/index.html">Next Page &gt;&gt;</a>{{/if}}</div>
		</div>

		{{#if editable}}
			<h1 class="editable" data-name="title" data-title="Page Title" data-type="text" data-pk="{{commitId}}" data-url="editpage">{{#if page.title}}{{page.title}}{{else}}Untitled{{/if}}</h1>
		{{else}}
			{{#if page.title}}<h1>{{page.title}}</h1>{{/if}}
		{{/if}}
		
		{{#if editable}}
			<p class="editable" data-name="comment" data-title="Page Comments" data-type="textarea" data-pk="{{commitId}}" data-url="editpage">{{#if page.comment}}{{page.comment}}{{else}}Add comments{{/if}}</p>
		{{else}}
			{{#if page.comment}}<p>{{page.comment}}</p>{{/if}}
		{{/if}}
		
		{{#if galleryData.showCanvas}}
			{{> canvasPartial src="repo/index.html" snapshot="true"}}
		{{/if}}

		{{#if showImages}}
			{{#if editable}}
				<h4>Images</h4>
			{{/if}}
			{{#each page.images}}
				<figure>
					<img src="{{src}}" />
					{{#if ../editable}}
						<figcaption class="editable" data-name="caption/{{src}}" data-title="Image Caption" data-type="text" data-pk="{{commitId}}" data-url="editpage">{{#if caption}}{{caption}}{{else}}Add caption{{/if}}</figcaption>
					{{else}}
						{{#if caption}}
							<figcaption>{{caption}}</figcaption>
						{{/if}}
					{{/if}}
				</figure>
				<br />
			{{/each}}
		{{/if}}

		{{#if editable}}
			{{> dropzonePartial }}
			{{> livePartial }}
			{{> editablePartial }}
		{{/if}}
	{{else}}
		{{#if editable}}
			<div id="pageNav">
				<div></div>
				<div><h4><a href="../index.html">{{#if galleryData.title}}{{ galleryData.title }}{{else}}Gallery{{/if}}</a></h4></div>
				<div></div>
			</div>

			A page does not exist for this commit.

			{{#if isHead}}
				{{#if isDetached}}<div class="alert alert-danger" role="alert">WARNING: HEAD is detached</div>{{/if}}
				{{#if isClean}}
				{{else}}
					<div class="alert alert-warning" role="alert">Warning: Your working directory is not clean. If you create a page it will be for the current HEAD commit, not your current working directory.</div>
				{{/if}}
				{{> livePartial }}
			{{/if}}

			<div>
				<form method="post" action="/create">
					<input type="hidden" name="commitRef" value="{{commitId}}" />
					<button type="submit" class="btn btn-default">Create a New Page</button>
				</form>
			</div>

			{{!-- {{> canvasPartial src="repo/index.html"}} --}}
		{{/if}}
	{{/if}}
</div>