<div>
	{{#if prevCommit}}<p style="float: left"><a href="../{{prevCommit}}/index.html"><< prev</a></p>{{/if}}
	{{#if nextCommit}}<p style="float: right"><a href="../{{nextCommit}}/index.html">next >></a></p>{{/if}}
</div>
<h5 style="clear:both">Commit: {{commitId}} {{dateTime date}}</h5>
<p>{{message}}

<h2 class="editable" data-name="title" data-title="Page Title" data-type="text" data-pk="{{commitId}}" data-url="editpage">{{#if title}}{{title}}{{else}}Untitled{{/if}}</h2>
<p class="editable" data-name="comment" data-title="Page Comments" data-type="textarea" data-pk="{{commitId}}" data-url="editpage">{{#if comment}}{{comment}}{{else}}Add comments{{/if}}</p>
{{#each images}}
	<figure>
		<img src="{{src}}" />
		<figcaption class="editable" data-name="caption/{{src}}" data-title="Image Caption" data-type="text" data-pk="{{commitId}}" data-url="editpage">{{#if caption}}{{caption}}{{else}}Add caption{{/if}}</figcaption>
	</figure>
	<br />
{{/each}}

{{> pagePartial }}