<p><a href="/current.html">Current Working Directory</a></p>
<p><a href="/pages/HEAD">HEAD Commit</a></p>

<h3>Gallery Pages</h3>

{{#each pages}}
	<a href="{{commitId}}/">
		<div class="galleryItem">
			{{#if title}}<div class="giTitle">{{title}}</div>{{/if}}
			<div>{{message}}</div>
			<div class="giDate">{{#if date}}{{date date}} {{time date}}{{/if}}</div>
		</div>
	</a>
{{/each}}
