<h4>Gallery Pages</h4>

{{#each pages}}
	<a href="{{commitId}}/">
		<div class="galleryItem">
			{{#if title}}<div class="giTitle">{{title}}</div>{{/if}}
			<div>{{message}}</div>
			<div class="giDate">{{#if date}}{{date date}} {{time date}}{{/if}}</div>
		</div>
	</a>
{{/each}}
