<link rel="stylesheet" type="text/css" href="/lib/DataTables-1.10.12/css/dataTables.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/lib/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min.css"/>
<script type="text/javascript" src="/lib/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/DataTables-1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/FixedHeader-3.1.2/js/dataTables.fixedHeader.min.js"></script>
<script>
	readyScripts.push(function() {
		$('#commitTable').DataTable( {
			"scrollY": "120px",
			"scrollCollapse": true,
			"paging": false,
			"searching": false,
			"ordering": false,
			"info": false
		});
	});
</script>

<p><a href="/current/">Current Working Directory</a></p>
<p><a href="/HEAD/">HEAD Commit</a></p>

<table id="commitTable">
<thead>
	<tr><th>Message</th><th>Date</th><th>ID</td></tr>
</thead>
<tbody>
	{{#each commits}}
		<tr><td><a href="{{sha}}/">{{message}}</a></td><td><a href="{{sha}}/">{{date date}}</a></td><td><a href="{{sha}}/">{{sha7}}</a></td></tr>
	{{/each}}
</tbody>
</table>

<h1 class="editable" data-name="title" data-title="Gallery Title" data-type="text" data-pk="_" data-url="editgallery">{{#if title}}{{ title }}{{else}}Git Gallery{{/if}}</h1>

{{#each pages}}
	<a href="{{commitId}}/">
		<div class="galleryItem">
			{{#if images.length}}<img src="{{commitId}}/thumbnail?thumb=100x100" class="galleryThumb"/>{{/if}}
			<div class="pageDesc">
				{{#if title}}<div class="giTitle">{{title}}</div>{{/if}}
				<div class="giMessage">{{message}}</div>
				<div class="giDate">{{#if date}}{{date date}} {{time date}}{{/if}}</div>
			</div>
		</div>
	</a>
{{/each}}

{{> editablePartial }}